.button {
    padding: 5px 24px;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.disabled {
    background-color: #004D99;
}

.secondary {
    border: 1px solid #0066CC;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
    color: white;
}

.red {
    background-color: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    opacity: 0.3;
}
